.container {
  display: flex;
  order: 3;
  padding: 5px;
  margin-left: 5px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.section {
  display: flex;
  flex-flow: column;
  align-items: space-around;
}
